html {
    background-color: black;
}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    min-height: 500px;
}

#google-4 {
    color: #F4B400;
}

#google-3 {
    color: #F4B400;
}

#google-0-1 {
    color: #F4B400;
}

#google-0-2 {
    color: #DB4437;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 30px;
    padding: 16px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 600px;
    background-color: #2c2c2c;
    border: none;
    position: relative;
}

.input-box img {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    font-size: 18px;
    width: calc(100% - 48px);
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
}

#answer-box>div {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.text-content {
    flex: 1;
}

.movie-image {
    width: 120px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}


#answer-box .episode-title,
#answer-box .episode-desc,
#answer-box .episode-rating {
    color: inherit;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.slider-container {
    margin: 30px 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 60%;
    color: white;
    max-width: 1200px;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fae13e;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 25px;

    height: 25px;

    background: #fae13e;

    cursor: pointer;

}

.input-box-container {
    padding: 20px;
    margin: 10px 0;
    background-color: #F4B400;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.enter-btn {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.enter-btn:hover {
    background-color: #45a049;
}

.suggestions-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    max-height: 150px;
    min-height: 50px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1000;
}

.suggestions-dropdown div {
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 50%; */
}

.suggestions-dropdown div:hover {
    background-color: #f6f6f6;
}