<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-3">🎥 mediaverse 🎥</h1>
            </div>
            <div class="input-box-container">
                <div class="input-box" onclick="sendFocus()" style="position: relative;">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Input Liked Genres" id="filter-text-val-liked">
                    <div id="suggestions-liked" class="suggestions-dropdown"></div>
                </div>
                <div class="input-box" onclick="sendFocus()" style="position: relative;">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Input Query/Keywords" id="query-keywords">
                    <div id="suggestions-query" class="suggestions-dropdown"></div>
                </div>
                <div class="input-box" onclick="sendFocus()" style="position: relative;">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Input Query/REVIEW Keywords" id="query-keywords">
                    <div id="suggestions-query" class="suggestions-dropdown"></div>
                </div>
                <button id="search-button" class="enter-btn" type="button">Enter</button>
            </div>
        </div>
        <div class="slider-container">
            <label for="ratingSlider">Rating: <span id="sliderValue">2.5</span>/10.0</label>
            <input type="range" id="ratingSlider" name="rating" min="0.0" max="10.0" value="5.0" step="0.1"
                oninput="updateSliderValue(this.value)">
        </div>


        <div id="loading-icon" style="display: none;">
            <div class="spinner"></div>
        </div>

        <div id="answer-box">

        </div>


    </div>
</body>

<script>

    function answerBoxTemplate(title, titleDesc, vote_average, image, reviews, sentimentScore) {
        const fullImg = image;
        let sentimentDisplay = sentimentScore ? `Sentiment Score: ${sentimentScore.toFixed(2)}` : 'Sentiment Score: N/A';
        return `<div class='answer-content'>
                    <div class='text-content'>
                        <h3 class='episode-title'>${title}</h3>
                        <p class='episode-desc'>${titleDesc}</p>
                        <p class='episode-rating'>Popularity: ${vote_average}</p>
                        <p class='sentiment-score'>${sentimentDisplay}</p>
                        <button onclick="toggleReviews(this)" class="button-style">Show/Hide Reviews</button>
                        <div class='reviews-container' style='display: none;'>
                            ${reviews.map(review => `<p>${review.replace(/<br\/><br\/>/g, "</p><p>")}</p>`).join('')}
                        </div>
                    </div>
                    <img src='${fullImg}' alt='Movie Poster' class='movie-image'/>
                </div>`;
    }


    function toggleReviews(button) {
        const reviewsContainer = button.nextElementSibling; // assuming the reviews container is right after the button
        if (reviewsContainer.style.display === 'none') {
            reviewsContainer.style.display = 'block';
            button.textContent = 'Hide Reviews';
        } else {
            reviewsContainer.style.display = 'none';
            button.textContent = 'Show Reviews';
        }
    }




    function sendFocus() {
        document.getElementById('filter-text-val').focus()
    }
    function updateSliderValue(value) {
        document.getElementById('sliderValue').innerText = value;
    }

    document.getElementById('search-button').addEventListener('click', filterText);

    function filterText() {
        const minPopularity = document.getElementById("ratingSlider").value;

        document.getElementById('answer-box').innerHTML = ""; // Clear previous results
        document.getElementById('loading-icon').style.display = 'block'; // Show the loading icon

        const searchText = document.getElementById("filter-text-val-liked").value;
        const queryText = document.getElementById("query-keywords").value;
        fetch("/episodes?" + new URLSearchParams({
            title: searchText,
            query: queryText,
            min_popularity: minPopularity  // Including the minimum popularity in the request
        }).toString())
            .then((response) => response.json())
            .then((data) => {
                // Process each item in the response
                data.forEach(row => {
                    let tempDiv = document.createElement("div");
                    tempDiv.innerHTML = answerBoxTemplate(row.title, row.overview, String(row.vote_average), row.image, row.reviews, row.sentiment_score);
                    document.getElementById("answer-box").appendChild(tempDiv);
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            })
            .finally(() => {
                document.getElementById('loading-icon').style.display = 'none'; // Hide the loading icon
            });
    }


    document.querySelectorAll('.input-box input').forEach(input => {
        input.addEventListener('blur', function (event) {
            setTimeout(() => {
                document.getElementById(this.id + '-suggestions').style.display = 'none';
            }, 100);
        });
    });

    function selectGenre(pastString, value, dropdownId) {
        const newValue = pastString ? `${pastString}, ${value}` : value;
        const inputId = dropdownId.replace('suggestions-', 'filter-text-val-');
        document.getElementById(inputId).value = newValue;
        document.getElementById(dropdownId).style.display = 'none';
    }

    function showSuggestions1(value, dropdownId) {
        const dropdown = document.getElementById(dropdownId);
        console.log('hi');
        console.log(value);
        const parts = value.split(',').map(part => part.trim());
        console.log(parts);// Trimming extra spaces
        const allExceptLast = parts.slice(0, -1);
        const lastPart = parts[parts.length - 1]; // Get the segment after the last comma

        if (lastPart.length === 0) {
            // If the last part is empty, clear the dropdown and hide it
            dropdown.innerHTML = '';
            dropdown.style.display = 'none';
            return;
        }

        fetch("/genre_suggestions?" + new URLSearchParams({ query: lastPart }).toString())
            .then(response => response.json())
            .then(data => {
                let suggestions = data.map(genre => {
                    return `<div onclick="event.stopPropagation(); selectGenre('${allExceptLast}', '${genre}', '${dropdownId}')">${genre}</div>`;
                }).join('');
                document.getElementById(dropdownId).innerHTML = suggestions;
                document.getElementById(dropdownId).style.display = 'block';
            })
            .catch((error) => {
                console.error('Error fetching suggestions:', error);
            });
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        document.addEventListener('click', function (e) {
            if (!e.target.matches('.input-box *')) {
                hideAllSuggestions();
            }
        });

        document.getElementById('filter-text-val-liked').addEventListener('input', function () {
            console.log(this.value)
            showSuggestions(this.value, 'suggestions-liked');
            showSuggestions1(this.value, 'suggestions-liked');
        });

        document.getElementById('filter-text-val-disliked').addEventListener('input', function () {
            showSuggestions(this.value, 'suggestions-disliked');
        });

        function hideAllSuggestions() {
            document.querySelectorAll('.suggestions-dropdown').forEach(function (dropdown) {
                dropdown.style.display = 'none';
            });
        }

        function showSuggestions(value, dropdownId) {
            const dropdown = document.getElementById(dropdownId);

            if (value.length > 0) {
                dropdown.innerHTML = '<div></div>';
                dropdown.style.display = 'block';
            } else {
                dropdown.style.display = 'none';
            }
        }
    });

</script>
</body>